div[class^="ant-"] {
	a {
		&:focus {
			box-shadow: none;
		}
	}

	ins {
		@apply text-red-500 ml-1 no-underline;
	}
	del {
		@apply text-gray-400;
	}
	input[class*="ant-select"] {
		box-shadow: none !important;
		border: none !important;
		outline: none !important;
	}
	span.from {
		display: none;
	}

	input[class*="ant-input"],
	input.ant-select-selection-search-input {
		min-height: unset;
		line-height: 1.5;
	}

	.antd-form-sm {
		div.ant-form-item {
			@apply mb-2;
		}
		div.ant-form-item-label {
			@apply pb-0 text-xs;
		}
	}

	&:focus-visible {
		outline: unset;
	}

	// Radio Group 平均寬度
	.ant-radio-group {
		&.w-avg {
			display: flex;
			> label {
				flex: 1;
				overflow: hidden;
				position: relative;
				span {
					white-space: nowrap;
					text-overflow: ellipsis;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
}

.pc-media-library {
	&__tabs {
		.ant-tabs-nav {
			z-index: 60;
		}

		&__filter {
			margin-top: -2rem;
			padding-top: 2rem;
		}
	}
}

.ant-modal {
	.pc-media-library {
		&__tabs {
			&__filter {
				margin-top: -1rem;
				padding-top: 1rem;
			}
		}
	}
}

.ant-editor-sortable-tree-node {
	.ant-editor-icon:not([aria-roledescription="sortable"]) {
		min-width: 28px;
	}
	button.ant-editor-sortable-tree-node-handle {
		@apply absolute;
	}
}

.sticky-card-actions {
	.ant-card {
		ul.ant-card-actions {
			position: sticky;
			bottom: 0;
			z-index: 10;
		}
		.ant-card {
			ul.ant-card-actions {
				bottom: 3.5rem;
				z-index: 11;
			}
		}
	}
}

.sticky-tabs-nav {
	.ant-tabs-nav {
		// 因為 md 以上顯示 admin bar，所以 top 要設定為 8
		@apply top-0 md:top-8 sticky z-10 bg-white;
	}
	.pc-nav {
		// 因為 md 以上顯示 admin bar，所以 top 要設定為 8
		@apply top-0 md:top-8 sticky z-10 bg-white;
	}
}

.ant-layout-sider {
	@apply top-0 md:!top-8;
	.ant-layout-sider-children > div {
		/* sider 左上角 logo 區域 */
		display: none !important;
	}
}

// 超小 form item input 的 label 樣式
.field-xs {
	.ant-form-item {
		margin-bottom: 0.5rem;
		position: relative;

		input,
		.ant-input-group-addon,
		.ant-select-selection-item {
			font-size: 0.75rem;
			line-height: 1.5rem;
		}
		.ant-picker {
			height: 22px;
		}
		.ant-form-item-label {
			position: absolute;
			top: -0.625rem;
			left: 0rem;
			label {
				@apply text-gray-400;
				height: fit-content;
				font-weight: 300;
				font-size: 0.75rem;
				z-index: 1;
				padding: 0 0.5rem;
				&::after {
					content: "";
					height: 5px;
					width: 100%;
					position: absolute;
					bottom: 0.4em;
					left: 0;
					width: 100%;
					background-color: #fff;
					z-index: -1;
				}
			}
		}
		.ant-switch {
			margin-left: 0.5rem;
		}

		// 如果是 table
		tr:hover {
			.ant-form-item {
				.ant-form-item-label {
					label {
						&::after {
							background-color: #fafafa;
						}
					}
				}
			}
		}
	}
}
