#tw {
	.pc-btn {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}

	// 讓 pc-btn-disabled 顯示滑鼠禁用樣式，阻止點擊由 JS 去做
	.pc-btn-disabled {
		position: relative;
		cursor: not-allowed;
		pointer-events: auto;
	}

	// daisyUI 的 rate 組件與 tailwind CSS 的樣式衝突，所以要加上以下 CSS
	div .pc-rating input:checked ~ input,
	div .pc-rating input[aria-checked="true"] ~ input,
	div .pc-rating input[checked] ~ input {
		--tw-bg-opacity: 0.2 !important;
		opacity: 0.2 !important;
	}
	div .pc-rating input {
		margin: 0;
	}

	.pc-rating :where(input) {
		background-color: #facc15;
	}
}
