@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0 !important;
}

// Woocommerce 的 $product->get_price_html() 會產生 .screen-reader-text 的 span，這邊把它隱藏
.screen-reader-text {
	display: none !important;
}

@media print {
	html,
	body {
		height: 100%; /* Use 100% here to support printing more than a single page*/
		width: 297mm;
		margin: 0 !important;
		padding: 10mm !important;
		overflow: hidden;
	}
}
