@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0 !important;
}

// Woocommerce 的 $product->get_price_html() 會產生 .screen-reader-text 的 span，這邊把它隱藏
.screen-reader-text {
	display: none !important;
}

table.table {
	width: 100%;
	border-collapse: collapse;
	table-layout: auto;
	font-size: 1rem;
	tr {
		background-color: transparent;
		transition: 0.3s ease-in-out;
		&:hover {
			background-color: #fffbe6;
		}
	}
	td,
	th {
		width: 0;
		padding: 0.75rem 0.5rem;
		font-size: inherit;
	}
	td {
		text-align: left;
	}
	th {
		text-align: center;
		font-weight: 600;
	}

	// border
	&.table-border {
		td,
		th {
			width: 0;
			border: 1px solid #ddd;
			padding: 0.75rem 0.5rem;
			font-size: inherit;
		}
	}

	// border y
	&.table-border-y {
		td,
		th {
			width: 0;
			border-top: 1px solid #ddd;
			border-bottom: 1px solid #ddd;
			padding: 0.75rem 0.5rem;
			font-size: inherit;
		}
	}

	// small size
	&.table-sm {
		td,
		th {
			padding: 0.375rem 0.25rem;
		}
	}

	&.table-xs {
		td,
		th {
			padding: 0.25rem 0.25rem;
		}
	}

	// 垂直版型
	&.table-vertical {
		table-layout: fixed;
		tr {
			display: flex;
			border-bottom: 1px solid #ddd;
		}
		th {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			background-color: #f8f8f8;
			border: none;
			width: 10rem;
			* {
				text-align: left;
			}
		}
		td {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			flex: 1;
			border: none;
		}
	}
}

@media print {
	html,
	body {
		height: 100%; /* Use 100% here to support printing more than a single page*/
		width: 297mm;
		margin: 0 !important;
		padding: 10mm !important;
		overflow: hidden;
	}
}
