/* 現代瀏覽器通用設置 */
* {
	/* Firefox */
	scrollbar-width: thin;
}

/* WebKit 瀏覽器 */
::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 4px;
}

::-webkit-scrollbar-thumb {
	background: color-mix(in oklch, currentColor 35%, transparent) transparent;
	border-radius: 4px;
	border: 2px solid transparent; /* 加上這行 */
	background-clip: content-box; /* 加上這行 */
}

::-webkit-scrollbar-thumb:hover {
	background: color-mix(in oklch, currentColor 100%, transparent) transparent;
	border: 2px solid transparent;
	background-clip: content-box;
}
