@use "_reset" as *;
@use "_scroll" as *;
@use "_global" as *;

@use "_antd" as *;
@use "_BlockNote" as *;
@use "_BlockNote-mantine" as *;
@use "_power-course" as *;

/* wp-admin menu page icon 大小 */
#toplevel_page_powerhouse .wp-menu-image.svg {
	background-size: 18px auto !important;
}

.wc-logs-entries .line:before {
	white-space: nowrap;
}

.ant-layout.ant-layout-has-sider {
	@media screen and (min-width: 810px) {
		min-height: calc(100vh - 32px) !important;
	}
}
